
#menu-outer{
  height:84px;
}
#page-wrap{
  width:1200px;
  margin: 0 auto;
}
body{
 margin: 0;
 padding: 0;
}
header{
  background: linear-gradient(
    rgba(35, 126, 206, 0.8),
    rgba(35, 126, 206, 0.8)
    ), url('wave.jpg');
  background-repeat: no-repeat;
  height:450px;
  width: 100%;
}
img{
  width: 30px;
  height:30px;
  padding:0;
  margin:0;
}
nav {
  vertical-align: top;
  width: 1200px;
  margin: auto;
  padding: 20px;
}
span{
  font-familiy: Arial; sans-serif;
  color: #473840;
  font-siz: 12px;
}
nav ul{
  margin-top:
  list-style: none;
  float: right;
  font-family:Arial;
  font-size:12px;
}

nav li {
  display: inline-block;
}
li{
  font-family: Arial; sans-serif;
  color:#473840;
  size: 12px;
}
nav{
  width:650px;
}
nav a{
  color: black;
  font-weight:100;
  font-family: Helvetica; sans-serfi;
}

nav a:hover {
  color: white;
}
.style{
  font-size:12px;
  color:#473840;
  font-family: Arial; sans-serif;
}
section{
  margin-top: 20px;
}
h1{
  font-family:Helvetica; sans-serif;
  font-weight: 100;
  font-size:80px;
  color:white;
}
h6{
  position:relative;
  top:-50px;
  font-size: 10px;
  font-family:Helvetica; sans-serif;
}
article{
  width:640px;
  margin:20px;
}
h5{
  letter-spacing: -3.0px;
  font-weight:500;
  font-size:50px;
  font-family: 'Futura Condensed' sans-serif;
  color:#120054;
  margin-top:0;
  margin-bottom:0;
  padding:0
}
.head1{
  width:15px;
  height:15px;
}
p{
  font-familiy: Helvetica, serif;
  color:#66525b;
  font-size:14px;
}
.author{
  display:inline-block;
  color:#0067a3;
  width: 75px;
  margin:0 auto;
  padding: 0;
}
.name{
  text-align:left;
  font-family: Arial, serif;
  font-size:10px;
  color:#0067a3;
  width:70px;
}
.date{
  display: inline-block;
  font-size:10px;
}
h3{
  font-family: Helvetica; sans-serif;
  color:#0067a3;
  font-weight: 100;
}
aside{}
